/* src/Pyramid.css */

body {
  scale: 1;
  /* No global scaling */
}

.pyramid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding: 20px; */
  box-sizing: border-box;
  height: 100vh;
  justify-content: center;
}

.controls {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of control elements */
  align-items: flex-start;
  margin-bottom: 20px;
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
}

.control-group {
  margin-bottom: 10px; /* Space between control groups */
}

.controls label {
  margin-right: 10px;
}

.controls input {
  width: 100px;
  margin-right: 10px;
}

.controls span {
  margin-right: 20px;
}

.pyramid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding-top: 80px; Adjust padding to prevent overlap with fixed controls */
  overflow-x: auto; /* Enable horizontal scrolling for the pyramid container */
  overflow-y: hidden; /* Disable vertical scrolling */
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.add-box-button {
  position: absolute;
  left: 0;
  margin-left: 10px;
  height: 20px;
  padding: 0 10px;
  font-size: 16px;
  cursor: pointer;
}

.boxes {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  white-space: nowrap;
}

.box {
  background-color: black;
  cursor: pointer;
  display: inline-block;
}

.add-row-button {
  width: 100%;
  height: 20px;
  padding: 0;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
}
